---
---

@import "{{ site.theme }}";

.image123{
div{
    float:left;
    margin-right:1px;
     padding-bottom: 1cm;
}

div > img{
   height:150px;
    width:200px;
}
}

.verticalspace {
    padding-bottom: 3cm;
}

.nyrad {
p{  text-align:center;
}
}

.box-wrapper {
        border: 1px solid #000;
        width: 100%;
        display: block;
        position: relative;
    }
    
    
 img[src~="smallimage"] {
   width:200px;
   height:350px;
}

img[src~="bordered"] {
   border: 1px solid black;
}



 
