---
layout: default
---



<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  </div>
  
  <!---
  <div class="hero">
  <a href="{{ "img/note.md"}}">{{ "Varför ??" }}</a>
  <p>
</div>
--->

<p> 
<div style="text-align: left">
<a href="{{'img/note' | relative_url}} " align="Left"  title="Varför">Varför denna Blogg ??? </a>.</p>
</div>
<p> 

  <!---
  <div class="hero">
	  <img class="feature-img" align="center" width="700" height="400" src="{{ 'img/DSC01440.JPG' | relative_url }}" />
	</div>
--->
<p>
<!---
<div class="image123">
    <div>
        <img src="img/DSC01440.JPG">
        <p>Sofiero</p>
    
        <img class="middle-img" src="img/DSC01503.JPG">
        <p>Väddö/Fjälllbacka</p>
    
        <img src="img/DSC02400.JPG">
        <p>Trandansen</p>
    </div>
</div>
--->
<div style="text-align: left">
<align="Left">Vill du se bilden större så högerklicka och använd "view image"/ "titta på bilden" </br>
</div>

<div class="image123">
    <div>
<img align="left" src="img/DSC01440.JPG" alt="---" title="sofiero" hspace="10"/>
<br>Sofiero</br>
</div>
<div>
<img align="left" src="img/DSC01503.JPG" alt="---" title="veddö" hspace="10"/>
<br>Veddö/Fjällbacka</br>
</div>
<div>
<img align="left" src="img/DSC00127.JPG" alt="---" title="Ishotellet" hspace="10"/>
<br>Ishotellet / Jukkasjärvi</br>
</div>

</div>





  {{ content }}


<!---
<div class="hero">
{% include imageModule.html image_path="img/20200823.jpg" title="Some title text" description="Some more text that will appear to the left of the image." %}
</div>
--->
<br style="clear: both;">


   <div class="home">
  
	<h3>Inlägg</h3>
	<ul>
	  {% for post in site.posts %}
	  <li>
	    <a href="{{ post.url }}">{{ post.title }}</a>
	  </li>
	  {% endfor %}
	</ul>
   </div>

 
</div>


